.slider {
    border: solid 1px;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 70px auto;
    overflow: hidden;
}

.slides {
    display: flex;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.agent-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.agent-card h2 {
    margin: 10px 0;
    font-size: 22px;
    color: #333;
}

.agent-card p {
    color: #666;
    margin-bottom: 20px;
}

