.title {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    color: black;
    text-align: center;
    font-size: 90px;
    font-family: "Roboto Light", sans-serif;
}

.agent-display {
    margin-top: 300px;
}
.agent-display h1 {
    border: solid 1px black;
    border-radius: 30px;
    padding: 30px;
    margin: auto;
    font-size: 50px;
    font-family: Georgia, serif;
    text-align: center;
    width: 30%;
}

